# ---- UPRM secrets — generated 2026-04-19T15:53:27Z ----
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

REDIS_PASSWORD=
REDIS_URL=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_URL=

MINIO_USER=
MINIO_PASSWORD=
MINIO_ENDPOINT=

GRAFANA_PASSWORD=

UPRM_MASTER_SECRET=
UPRM_ADMIN_JWT_SECRET=
